<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Travel App Udacity Nanodegree</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="headlogos">
            <h1>
                Travel Planner
            </h1>

        </div>


        <div class="modal-bg">
            <div onclick="return Client.showPopup(event,2)" class="close">&times;</div>
            <div class="modal">

                <h2>Choose Your Travel Destenation</h2>
                <small id="result"></small>
                <label for="name">Travel Destenation Name: </label>
                <input id="name" type="text" placeholder="City Name" name="name">
                <label for="trip">Trip Date:</label>
                <input type="date" id="trip_date" name="trip" value="">
                <button id="add_City" onclick="return Client.showPopup(event,3)"> Add </button>
            </div>
        </div>

        <div class="headertrip">
            <h3> My Trips: </h3>
            <button id="add_trip" onclick="return Client.showPopup(event,1)"> <span>&#43;</span>add trip</button>
        </div>

    </header>

    <div class="trips">
        <!-- <div class="cardgrid"> -->
        <!-- <div class="imagepart"> </div> -->
        <!-- Created and added classes, but not appended yet-->
        <!-- <div class="infopart"> -->
        <!-- <h3 class="trip_city"></h3>
                <h3 class="trip_date_fet"> </h3>
                <div class="changeBtn"> -->
        <!-- <button> Save Trips </button> -->
        <!-- <button> Remove Trip </button> -->
        <!-- </div> -->
        <!-- <p class="trip_rem_days"></p> -->

        <!-- <small class="trip_weather_air"> </small>
                <p id="trip_general_weather"> </p> -->
        <!-- </div> -->



    </div>
    </div>

    <footer>

    </footer>

</body>

</html>