    // * {
    //     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    // }
    .trips {
        width: 100%;
        background-color: rgb(199, 159, 156);
        display: flex;
        flex-direction: column;
        height: 100%;
        .cardgrid {
            border: 1px solid black;
            display: grid;
            height: 100%;
            margin-bottom: 20px;
            ;
            grid-template-areas: "img img img img info info info info";
            .imagepart {
                grid-area: img;
                // width: 100%;
                width: 800px;
                background-color: yellow;
                height: 500px;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .infopart {
                text-align: center;
                grid-area: info;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                // background-color: rgb(55, 0, 255);
                height: 500px;
                button {
                    width: 150px;
                    height: 30px;
                    text-align: center;
                    font-size: 15px;
                    cursor: pointer;
                    border-radius: 25px;
                    border: 2px solid brown;
                    cursor: pointer;
                    background: white;
                }
            }
        }
    }
    
    #add_City {
        background-color: transparent;
        width: 150px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 15px;
        cursor: pointer;
        border-radius: 25px;
        &:hover {
            // background-color: ;
            border: 1px solid pink;
            background-color: rgb(237, 154, 148);
            color: white;
            ;
            text-decoration: none;
        }
        span {
            font-size: 20px;
            font-weight: bolder;
        }
    }
    
    // .cardgrid {
    //     display: flex;
    //     flex-direction: row;
    //     // justify-content: space-around;
    //     .imagepart {
    //         border: 2px solid black;
    //         // height: 100%;
    //         background-color: coral;
    //     }
    //     .infopart {
    //         text-align: center;
    //         height: 100%;
    //     }
    // }
    .footer {
        background-color: gray;
        position: absolute;
        bottom: 0;
        font-size: 20px;
        ;
        height: 50px;
        color: white;
        width: 100%;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }